body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
  
  h1 {
    color: #20c1dd;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  #happyNewYear-div {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #happyNewYear-div > div {
    padding: 10px;
    border-radius: 3px;
    background: #5aa628;
    display: inline-block;
  }
  
  #happyNewYear-div div > span {
    padding: 15px;
    border-radius: 3px;
    background: #20c1dd;
    display: inline-block;
  }
  
  .smalltext {
    padding-top: 5px;
    font-size: 16px;
  }